@font-face{
    font-family: "Inconsolata-Black";
    src: url("fonts/Inconsolata-Black.ttf");
    font-weight: 900;
}

@font-face{
    font-family: "Inconsolata-Reg";
    src: url("fonts/Inconsolata-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter-Black";
    src: url("fonts/Inter-Black.ttf");
    font-weight: 900;
}

body{
    margin: auto;
    padding: 0;
    background: #2A2A30;
    color: whitesmoke;
    font-family: "Inconsolata-Black";
    overflow-x: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.header{
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.profile-picture {
    height: 350px;
}

.header-description{
    line-height: 0px;
    margin-left: 50px;
}

.header-description > h3{
    font-size: 50px;
}

.header-description > h1{
    font-size: 95px;
    margin-top: 55px;
    margin-left: -3px;
    font-family: "Inter-Black";
}

.header-description > p{
    font-family: "Inconsolata-Reg";
    font-size: 30px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background: #434349;
    width: 100%;
}

.navbar-title{
    font-weight: 700;
    font-size: 60px;
    font-family: "Inconsolata-Black";
}

.navlinks{
    /* margin-left: auto; */
    margin: auto auto auto auto;
}

.navlinks > a{
    padding: 13px 16px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    border-radius: 17px;
}

.navlinks a:hover{
    background: #FF9000;
    padding: 13px 16px;
    border-radius: 17px;
    transition: 0.5s;
}

.navlinks .active{
    background: #FF9000;
    padding: 13px 16px;
    border-radius: 17px;
}

.content {
    padding: 200px;
}

.content > p{
    font-family: "Inconsolata-Reg";
    font-size: 22px;
}

.pic {
    width: 1090px;
    margin-top: 150px;
}